html,body{
    
    margin:7px;
    padding:1px;
    font-size:72.5%;
    box-sizing:border-box;
    background-color:mediumslateblue;
    
}

header{
    
    width:65%;
    margin:0 auto;
    display:inline;
    float:right;
    text-align: center;
    background-color:plum
        
}
section>div>ul>li{
    
    margin:0 auto;
    display:inline-block;
    font-size: 2em;
}
li{
    color:blue;
    display:inline-block;
    background-color:aquamarine;
    float:right;
}
div>ul>li>em{
    
    margin:0 auto;
    width:20px;
    display: inline-block;
    padding:6px;
    float:left;
    
}
body{
    
    margin:0 auto;
    background-color:red;
    
}
main{
    
    margin:0 auto;
    height:100%;
    width:100%;
/*
    background-image: url("http://i.imgur.com/TmwH05m.jpg");
    background-repeat: no-repeat;
*/
    
}
    
.imageContainer{
    
        position: center;
        width: 100%; /*the image width*/
        height: 100%; /*the image height*/
        left: 50%;
        top: 50%;
        margin-left: -50px; /*half the image width*/
        margin-top: -50px; /*half the image height*/       
    }        
        
        
        
@media only screen and (min-width:920) and (max-width:920px){
    body{
        width:90%;
    }
}  
@media only screen and (max-width:599px){
    
}
body{
    width 320px
}    
pre{
    font-size:.8em;
    padding: .5em;
    background:rgb(246, 247, 160);
}
        
        
        
        