html,body{
    
    margin:7px;
    padding:1px;
    font-size:72.5%;
    box-sizing:border-box;
    background-color:mediumslateblue;
    
}

header{
    
    width:65%;
    margin:0 auto;
    display:inline;
    float:right;
    text-align: center;
    background-color:plum
        
}
body{
    
    margin:0 auto;
    background-color:red;
    
}
main{
    background-image: url("http://i.imgur.com/TmwH05m.jpg");
    background-repeat: no-repeat;
        
}
        
        
        
        
        
        
        
        
        
        
        
        