html,body{
    
    margin:3px;
    height:100%;
    width:100%;
    background-color:whitesmoke;
    position:center;
    background-image: url(http://i.imgur.com/EbLj0Po.jpg);
    background-repeat: no-repeat;
}

header{
    
    margin:0 auto;
    display:inline-block;
    width:100%;
    padding: 0px 0px 5px 0px;
    height:3rem;
    background-color:ghostwhite;
    color:red;
    text-align:center;
}

h1{
    
    font-size: uppercase;
     
}
h1:hover{
    color:aqua;
    transition: color 1s;
}

#one{
    
    float:left;
    margin:0 auto;
    width:120px;
    text-align:center;
    color:gray;
    letter-spacing: 4px;
}
#two{
    margin:0 auto;
    width:120px;
    text-align: center;

}
#three{
    display:inline;
    color:gray;
    float:right;
    background-color:aquamarine
}

#four{
    
    float:right;
    margin:0 auto;
    #three{
    display:inline;
    color:gray;
    float:right;
    background-color:aquamarine
}width:120px;
    text-align:center;
    color:black;
    background-color:bisque;
    letter-spacing: 4px;
}
#four:hover{
    color:beige;
    background-color:black;
    transition: background 2s;
}

#centerParagraph{
    
    color:ghostwhite;
    margin:0 auto;
    text-align: center;
}
.button{
    
    color:white;
    text-align: center;
    height:220px;
    font-size: 20px
        
}



/*
span > img{
    
    margin:0 auto;
    width:100%;
    opacity:233%;
    
}
*/
    
}

@media only screen and (min-width:600px) and (max-width:920px){
    
    body{
        width:90%;
        
    }
}

@media only screen and (max-width:599px){
    
    body{
        width 320px
    }
    pre{
        font-size:.8em;
        padding:.5em;
        background:rgb(246, 247,160);
    }
}